.upload-drop-zone {
    height: 200px;
    width:100%;
    border: 1px dashed black;
    margin: 20px auto 20px auto;
    border-radius: 10px;
}

.Uploader {
    background-color: lightgray;
    border-radius: 20px;
    margin-top:0;
    height: 350px;
}