.preview {
    text-align: left;
}

#id_title {
    border-bottom: 1px solid;
}

Link {
    display: block;
    height:100%;
}

i {
    font-size: 20px;
    margin-right: 10px;
}

#id_icones {
    margin-top: 30px;
    text-align: right;
}